// src/components/Email.scss

.main {
    padding: 40px;
}

.prof-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
}

.main-content-contact {
    max-width: 600px;
    width: 100%;
}

.contact-form {
    display: grid;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left; /* Align label to the left */
}

input {
    width: 100%;
    padding: 15px; /* Adjusted padding for larger height */
    box-sizing: border-box;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 30px; /* Increased font size */
}

textarea {
    width: 100%;
    padding: 15px; /* Adjusted padding for larger height */
    box-sizing: border-box;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px; /* Increased font size */
}

.button-container {
    width: 100%;
}

.button-email {
    width: 100%;
    padding: 16px; /* Adjusted padding */
    background-color: #55198b;
    color: #fff;
    border: none;
    border-radius: 8px; /* Increased border-radius */
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #45a049; /* Darker green color */
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: #333; /* Add a color to the text */

    p {
        margin-bottom: 15px;
        font-size: 20px;
    }

    button {
        padding: 10px 20px;
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #2980b9;
        }
    }
}

